

.About{
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    /* opacity: 0.85; */
    height: 80%;
}

.about-text{
    padding: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}