.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}


.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: azure;
}

.search-bar select {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-bar .search {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-bar button {
    background-color: #1c6ea4;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.chooseGenre {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.genres {
    background-color: #1c6ea4;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.upcoming {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-color: azure;
}

.upcoming h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}


.upcomingMovie {
    background: rgb(70, 214, 252);
    background: radial-gradient(circle, rgba(70, 214, 252, 1) 36%, rgba(33, 37, 41, 1) 87%);
    color: white;
    width: 100%;
    font-size: 1vw;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
}


.upcomingMovie .poster {
    width: fit-content;
    border-radius: 10px;
}

.upcomingMovie h1 {
    font-family: monospace;
    letter-spacing: 15px;
}

.upcomingMovie h5 {
    font-family: monospace;
    letter-spacing: 10px;
}

.randomMovie {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    width: 100%;
}

.card {
    margin-right: 10px;
    margin-left: 10px;
}

.highestRated {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highestRated div {
    width: 300px;
    height: 450px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.SearchResults {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0;
    list-style: none;
}

.movieCard {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border: 10px;
    border-color: black;
    background-color: darkgrey;
}

.h3 {
    font-size: 0.1rem;
}

.h4 {
    font-size: 0.2em;
}

/*  */

.highestRated h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

